<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Single Page Web Applications with AngularJS: Module 1 Assignment</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="LunchCheck">
  <div id="main-content" class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="inner-container">
          <h1>What do you eat for lunch?</h1>
          <div ng-controller="LunchCheckController">
            <p>
              List what you usually eat for lunch and this form will let you know if that's a good amount or too much. Use commas "," between your lunch items in your list.
              <br /><br/>
              <b>NOTE:</b> this form does not consider an empty item, i.e., ', ,'' as an item towards the total count.
            </p>
            <label for="lunch">Enter your typical lunch items here:</label>
            <input type="text" ng-model="lunch" ng-class="customStyle.borderColorClass" class="lunch" id="lunch" />
            <button ng-click="checkLunch();" class="btn btn-primary btn-lg chk">Check If Too Much</button>
            <p ng-class="customStyle.colorClass" class="message">
              {{message}}
            </p>
          </div>
        </div> <!-- /.inner-container -->
      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
